{
    "folder_id": "b1ghd8j14ddskusrmcvdds0n9d",
    "source_image_family": "ubuntu-1604-lts",
    "service_account_key_file": "key.json.example",
    "zone": "ru-central1-a",
    "use_ipv4_nat": "true"
}
