cloud_id                 = "b1go07tmp3dswwri05qb"
folder_id                = "b1ghd8j14dasdwvs0n9d"
zone                     = "ru-central1-a"
image_id                 = "fd86hokbjl3sa2avh7wb"
public_key_path          = "id_rsa.pub"
service_account_key_file = "key.json"
private_key_path         = "id_rsa"
subnet_id                = "e9b1tftlg6bar3jdeg67"
app_disk_image           = "reddit-app-base"
db_disk_image            = "reddit-db-base"
